md-card{
    box-shadow: none!important;
    padding: 14px!important;
    width: 700px!important;
}

.options-container{
    padding-right: 14px!important;
}

.cancel-btn{
    width: 80px;
    height: 30px!important;
    line-height: 20px;
}

.cancel-btn:hover{
    background-color: lightgray;
}


.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 20px;
    color: #00897b;
}


.fill-color ~ span:before{
    content: "\2605";
    position: absolute;
}