md-card{
    box-shadow: none!important;
    padding: 14px!important;
    width: 700px!important;
}

.options-container{
    padding-right: 14px!important;
}

.cancel-btn{
    width: 80px;
    height: 30px!important;
    line-height: 20px;
}

.cancel-btn:hover{
    background-color: lightgray;
}