<div fxFlex = "250px" class="container" fxLayout="row" fxLayoutAlign="start">
    <md-input-container [class]="registrationColor" floatPlaceholder="never" [fxFlex]="fieldSize" *ngIf="showPhoneField">
        <span style="color:black" mdPrefix>+7</span>
        <input mdInput type="tel" [disabled]="disabled" #phone="ngModel" [placeholder]="placeholder" minlength="10" maxlength="10"
            [name]="phoneName" pattern="^([\d]{10})$" [ngModel]="phoneField" (ngModelChange)="onPhoneChange($event)" required>
        <md-error [hidden]="phone.valid || phone.hasError('pattern')">
            Не указан телефон
        </md-error>
        <md-error [hidden]="!phone.hasError('pattern')">
            Телефон состоит из 10 цифр
        </md-error>
    </md-input-container>
</div>