.title-page{
    font-size: 24px;
    color: gray;
    padding:  20px 20px;
}

.form-container{
    padding:  20px 20px;
}

.registration{
    color: white;
}

.registration md-error{
    color: white;
}

.registrationTitle {
    text-align: center;
}